.grid {
  display: grid;
  column-gap: $gutter-vertical;
  row-gap: $gutter-horizontal;
}
.grid--2col {
  grid-template-columns: repeat(2, 1fr);
  @include respond(tab-port) {
    grid-template-columns: 1fr;
  }
}

.grid--3col {
  grid-template-columns: repeat(3, 1fr);
  @include respond(tab-port) {
    grid-template-columns: 1fr;
  }
}

.grid--4col {
  grid-template-columns: repeat(4, 1fr);
  @include respond(tab-port) {
    grid-template-columns: 1fr;
  }
}

.grid__item {
}

.grid__item--1 {
}

.grid__item--2 {
}

.grid__item--3 {
}

.grid__item--4 {
}
